@import "tailwindcss";
@import url('https://fonts.cdnfonts.com/css/helvetica-neue-55');

body {
    font-family: "DM Sans", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.dm-sans{
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
}

/* .inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
} */

.swiper-button-next,
.swiper-button-prev {
  width: 15px !important;
  height: 15px !important;
  color:rgb(61, 60, 60) !important;
  opacity:0;
  transition: opacity 0.6s ease;
}

.trending-swiper:hover .swiper-button-next,
.trending-swiper:hover .swiper-button-prev{
  opacity: 1 !important;
  transition: opacity 0.6s ease;
}

/* Hide scrollbar utility */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}




